name: KICS IaC scan

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  kics-job:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    name: kics-action
    steps:
      # https://github.com/actions/checkout
      - name: Clone repo
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Mkdir results-dir
        # make sure results dir is created
        run: mkdir -p results-dir

      # https://github.com/Checkmarx/kics-github-action
      - name: Run KICS Scan with SARIF result
        uses: checkmarx/kics-github-action@v2.1.16
        with:
          path: 'terraform'
          # when provided with a directory on output_path
          # it will generate the specified reports file named 'results.{extension}'
          # in this example it will generate:
          # - results-dir/results.json
          # - results-dir/results.sarif
          ignore_on_exit: results
          output_path: results-dir
          platform_type: terraform
          output_formats: 'json,sarif'
          exclude_paths: "terraform/gcp/big_data.tf,terraform/azure"
          # seek query id in it's metadata.json
          exclude_queries: 0437633b-daa6-4bbc-8526-c0d2443b946e

    #   - name: Show results
    #     run: |
    #       cat results-dir/results.sarif
    #       cat results-dir/results.json

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results-dir/results.sarif