name: tfsec-iac-scan
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  tfsec:
    name: tfsec IaC scan
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      # https://github.com/actions/checkout
      - name: Clone repo
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      # https://github.com/aquasecurity/tfsec-sarif-action
      - name: Run tfsec scanner
        uses: aquasecurity/tfsec-sarif-action@v0.1.4
        with:
          sarif_file: tfsec.sarif

      # https://github.com/github/codeql-action/tree/main
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: tfsec.sarif